
    {% extends "base.html" %}
    {% load static %}
    {% block title %}Levitate Studios| About Us {% endblock %} 
    {% block CSSlink %}
	<link href="{% static 'AboutUs/aboutUs.css' %}" rel="stylesheet" />

    {% endblock %} 
    
    {% block content %}
        <div>
        <h1 class="heading" style="margin: 50px 0;">About Us</h1>
        <div class="card">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsa amet! Autem dignissimos nam fugiat animi ullam, hic fugit ipsum eum vel quo molestiae dolor optio distinctio vitae, earum iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia similique reiciendis aperiam cupiditate dolore totam magnam saepe, voluptatem dicta tempore accusamus mollitia vitae hic illo? Sequi placeat hic unde rerum?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid excepturi, odit optio fugit iure sunt voluptas recusandae nobis, quo nihil voluptatem eaque ea asperiores nulla rerum odio doloremque tempora harum.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, unde.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe, magni corporis doloremque provident ea laudantium aut molestiae! Itaque porro deleniti rem nihil. Praesentium, ad id error perspiciatis amet illo consectetur possimus necessitatibus eveniet animi accusantium sed, aspernatur totam! Minima ratione id provident rerum autem optio libero laboriosam sapiente cupiditate dolorum eos laborum, recusandae dolor deserunt sequi neque dolore, vel nobis deleniti quaerat repellat asperiores. Accusantium adipisci obcaecati dolor, cupiditate minima provident deleniti atque ad quod repellat laborum earum commodi, at impedit optio suscipit harum nihil mollitia ex! Qui quod atque voluptas inventore nam odio dolorum quis perferendis ullam beatae?
            </p>
        </div>
    </div>
    {% endblock %} 