
    {% extends "base.html" %}
    {% load static %}
    {% block title %}Levitate Studios|Book Classes {% endblock %} 
    {% block CSSlink %}
	<link href="{% static 'AboutUs/aboutUs.css' %}" rel="stylesheet" />

    {% endblock %} 
    
    {% block content %}
        <div>
        <h1>About Us</h1>
        <div class="card">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsa amet! Autem dignissimos nam fugiat animi ullam, hic fugit ipsum eum vel quo molestiae dolor optio distinctio vitae, earum iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia similique reiciendis aperiam cupiditate dolore totam magnam saepe, voluptatem dicta tempore accusamus mollitia vitae hic illo? Sequi placeat hic unde rerum?
            </p>
        </div>
    </div>
    {% endblock %} 