<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block CSSlink %} {% endblock %}

	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link href="{% static 'home/styles.css' %}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <script src="https://kit.fontawesome.com/76af01bf1c.js" crossorigin="anonymous"></script>
</head>

<body style="background-image: url('{% static 'LandingPage/PageB.png' %}')";>
   
    <nav>
        <a href="/"><img src="{% static 'LandingPage/logo.png' %}" style="width:50%;"></a>
        <div class="nav-links" id="navlinks">
            <!-- <i class="fa fa-times" onclick="hideMenu()"></i> -->
            <ul>
                <li><a href="aboutUs">AboutUs</a></li>
                <li><a href="book">Book</a></li>
                <li><a href="instructor">Instructor</a></li>
                <li><a href="contactUs">Contact Us</a></li>
                <li><a href="loginSignup">Login/Signup</a></li>
            </ul>
        </div>
        <!-- <i class="fa fa-bars" onclick="showMenu()"></i> -->
    </nav>
        {% block content %} {% endblock %}
    </section>

        <!-- Footer -->
        <section class="footer">

            <div class="icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
            <div class="tinytext">
                <p><i class="fa fa-copyright"></i> 2001-2002 by YoursTruly. All Rights Reserved. <br>Levitate is powered by SastaAmbani</p>
                <p class="Mlove">Made with <i class="fa fa-heart"></i> by Ctrl Intellegence <br></p>
                <a href="/"><img src="{%static 'LandingPage/logo.png'%}" style="width:15%"></a>
    
            </div>
    
        </section>
    </body>
    
    </html>