<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levitate Studios|Home</title>

	<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/landing.css' %}">
	<link href="{% static 'home/styles.css' %}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <script src="https://kit.fontawesome.com/76af01bf1c.js" crossorigin="anonymous"></script>
</head>

<body style="background-image: url('{% static 'LandingPage/PageB.png' %}')";>
   
        <nav>
            <a href="/"><img src="{% static 'LandingPage/logo.png' %}" style="width:50%;"></a>
            <div class="nav-links" id="navlinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">Explore</a></li>
					<li><a href="index.html">Book</a></li>
					<li><a href="index.html">Instructor</a></li>
                    <li><a href="index.html">Contact Us</a></li>
					<li><a href="index.html">Login/Signup</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    


    <!-- About -->
    <section class="showcase">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-lg-6 order-lg-2 text-white showcase-img" ><img class="img-fluid rounded-circle mb-3" src="{% static 'LandingPage/section1.png' %}" alt="..." /></div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text">
					<h1>Meditation And Yoga Practice</h1>
					<p class="lead mb-0">Inhale the future, exhale the past!</p>
						<!--use <br> to use a multilined paragraph-->
						<button class="button">Book Now </button>
            			<button class="button">Schedule A Visit </button>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-lg-6 text-white showcase-img" ><img class="img-fluid rounded-circle mb-3" src="{% static 'LandingPage/section2.png' %}" alt="..." /></div>
				<div class="col-lg-6 my-auto showcase-text">
                    <span class="u-file-icon u-icon u-icon-1"></span>
					<h2 class="u-text u-text-default u-text-3"><img src="{% static 'LandingPage/2948565.png' %}" width="7%" alt="">  Engage​​d Ment​orship</h2>
                    <h2 class="u-text u-text-default u-text-4"><img src="{% static 'LandingPage/3124764.png' %}" width="7%" alt="">  1:1 with Instructors</h2>
                    <h2 class="u-text u-text-default u-text-5"><img src="{% static 'LandingPage/2043795.png' %}" width="7%" alt="">  Essential Practice</h2>
                    <h2 class="u-text u-text-default u-text-6"><img src="{% static 'LandingPage/2963590.png' %}" width="7%" alt="">  Live Classes</h2>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'LandingPage/bg-showcase-3.jpg' %}')";></div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text">
					<h2>Easy to Use & Customize</h2>
					<p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
				</div>
			</div>
		</div>
	</section>

    <!-- JavaScript for Toggle menue in phone/tablet -->
    <script>
        var navlinks = document.getElementById("navlinks");

        function showMenu() {
            navlinks.style.right = '0';
        }

        function hideMenu() {
            navlinks.style.right = '-200px';
        }
    </script>

    <!-- Footer -->
    <section class="footer">

        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <div class="tinytext">
            <p><i class="fa fa-copyright"></i> 2001-2002 by YoursTruly. All Rights Reserved. <br>Levitate is powered by SastaAmbani</p>
            <p class="Mlove">Made with <i class="fa fa-heart"></i> by Ctrl Intellegence <br></p>
            <a href="/"><img src="{%static 'LandingPage/logo.png'%}" style="width:15%"></a>

        </div>

    </section>
</body>

</html>