<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% load static %}
    {% block title %}Levitate Studios|Home {% endblock %} 
    {% block CSSlink %}
	<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/landing.css' %}">

    {% endblock %} 
    
    {% block content %}

    <!-- About -->
    <section class="showcase">
		<div class="container-fluid p-0">
			<div class="row g-0" >
				<div class="col-lg-6 order-lg-2 text-white showcase-img" ><img class="img-fluid rounded-circle mb-3" src="{% static 'LandingPage/section1.png' %}" alt="..." /></div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text">
					<h1>Meditation And Yoga Practice</h1>
					<p class="lead mb-0">Inhale the future, exhale the past!</p>	
                        <button class="button">Book Now </button>
            	        <button class="button">Schedule A Visit </button>
				</div>

                
			</div>
			<div class="row g-0" style="margin-top: -75px;">
				<div class="col-lg-6 text-white showcase-img" ><img class="img-fluid mb-3" src="{% static 'LandingPage/section2.png' %}" alt="..." /></div>
				<div class="col-lg-6 my-auto showcase-text">
					<h2 class="u-text u-text-default u-text-3"><img src="{% static 'LandingPage/2948565.png' %}" width="7%" alt="">  Engage​​d Ment​orship</h2>
                    <h2 class="u-text u-text-default u-text-4"><img src="{% static 'LandingPage/3124764.png' %}" width="7%" alt="">  1:1 with Instructors</h2>
                    <h2 class="u-text u-text-default u-text-5"><img src="{% static 'LandingPage/2043795.png' %}" width="7%" alt="">  Essential Practice</h2>
                    <h2 class="u-text u-text-default u-text-6"><img src="{% static 'LandingPage/2963590.png' %}" width="7%" alt="">  Live Classes</h2>
				</div>
			</div>
            <button class="button1" style="margin-top: -100px;">Join Us Today</button>
			<div class="row g-0">
				<div class="col-lg-6 order-lg-2 text-white showcase-img" ><img class="img-fluid  mb-3" src="{% static 'LandingPage/section3.png' %}" alt="..." /></div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text">
					<ul class="SameBlock">
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">Schedule.</a></li>
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">Contact Us.</a></li>
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">Privacy Policy.</a></li>
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">Terms and Conditions.</a></li>
                    </ul>
                    <ul class="SameBlock">
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">Podcast.</a></li>
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">Blog.</a></li>
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">Newsletter.</a></li>
                        <li><a href="https://www.google.co.in/" style="text-decoration: none; color: black;">FAQs.</a></li>
                    </ul>
                </div>
			</div>
		</div>
	</section>

{% endblock %}
   