{% extends "base.html" %}
    {% load static %}
    {% block title %}Levitate Studios| Instructor {% endblock %} 
    {% block CSSlink %}
	<link href="{% static 'Instructor/instructor.css' %}" rel="stylesheet" />

    {% endblock %} 
    
    {% block content %}

    <h1 class="heading" style="margin: 50px 0;">Our Instructors</h1>

        <div style=" background-color: transparent;" width="100">  
            <div style="left:3%">
                <div id="container">	
                    <div class="product-details">  
                    <p class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolores non quas, pariatur mollitia qui possimus vero ex eaque praesentium incidunt! Neque cumque dignissimos voluptas eius officiis, praesentium doloremque tempore.</p>
                </div>
                    
                <div class="product-image">  
                    <img src= "{% static 'Instructor/person1.jpg' %}" alt=""> 
                 </div>
            </div>
        </div>

        <div style=" background-color: transparent;" width="100">  
            <div style="margin-left: 43%;">
                <div id="container">	
                    <div class="product-details">  
                    <p class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolores non quas, pariatur mollitia qui possimus vero ex eaque praesentium incidunt! Neque cumque dignissimos voluptas eius officiis, praesentium doloremque tempore.</p>
                </div>
                    
                <div class="product-image">  
                    <img src= "{% static 'Instructor/person2.jpg' %}" alt=""> 
                 </div>
            </div>
        </div>

        <div style=" background-color: transparent;" width="100">  
            <div style="left:3%">
                <div id="container">	
                    <div class="product-details">  
                    <p class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolores non quas, pariatur mollitia qui possimus vero ex eaque praesentium incidunt! Neque cumque dignissimos voluptas eius officiis, praesentium doloremque tempore.</p>
                </div>
                    
                <div class="product-image">  
                    <img src= "{% static 'Instructor/person3.jpg' %}" alt=""> 
                 </div>
            </div>
        </div>
    {% endblock %} 