.header {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}


/* Logo Row */

nav {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
    font-family: 'Quicksand';
    font-weight: bolder ;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

@media(max-width: 700px) {
    /* Text field compatibility */
    td {
        padding: 3px;
        font-size: 10px;
    }
    .tb h1 {
        font-size: 20px;
    }
}

h1{
    font-family: 'Raleway' bold;
    font-weight: bolder;
    text-align: center;
    padding-top:50px ;
    padding-bottom: 20px;
}


table {
    
    font-size: 14px;
    font-weight: 300;
    margin-top: 5%;
    padding: 10px;
    margin: auto;
    border: none;
}

td {
    padding: 6px;
    font-family: 'Quicksand';
    color: black;
}

input,select{
    width: 200px;
    height: 30px;
    background-color: #F9998C;
    border-color:#F9998C ;
    border-style:solid;
    border-radius: 5px;
}


/* .tb {
    text-align: left;
} */


.some {
    padding: 35px;
    text-align: center;
}

.cusev {
    display: block;
}

.record {
    text-align: left;
}

/* Footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.icons .fa {
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart {
    color: #f44336;
}

.tinytext p {
    font-size: 12px;
    font-weight: 100;
}

.Mlove p {
    font-size: 10px;
}

.showcase .showcase-text {
    padding: 3rem;
  }
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  /* ================================================================ */
